body{
    display: flex;
    justify-content: center;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: black;
}

#game-container{
    background: linear-gradient(98deg, rgb(233, 204, 171) 0%, rgb(116, 204, 204) 50%, rgb(80, 127, 183) 80%, rgb(23, 24, 68) 100%);
    height: 95vh;
    border-radius: 8px;
    box-shadow: inset 0.5vh 0 0 rgba(255, 236, 188, 0.9), inset 0 0.5vh 0 rgba(188, 255, 211, 0.7), inset -0.5vh -0.5vh 0 rgba(0, 0, 30, 0.3);
}

/* Move buttons */

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
}

.btn{
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}

.btn.invisible{
    background-color: rgba(117, 122, 158, 0.5);
    border-color: rgba(110, 113, 137, 0.5);
    opacity: 0.5;
}

.active{
    background-color: rgba(60, 60, 80, 0.7);
    transform: scale(0.95);
}

/* Canvas */

.canvas-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

canvas{
    display: inline-block;
    border-radius: 8px;
}

/* Upper menu */
.upper-menu-container{
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px 8px 0 0;
    z-index: 99;
}

.upper-menu{
    /* background-color: white; */
    display: inline-block;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: rgb(23, 42, 68);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5% 1%;
    margin: 1%;
    border-radius: 8px;
    box-shadow: 2px 2px 0 rgba(24, 55, 82, 0.2);
    transition: all 0.2s ease;
}

.upper-menu.level{
    box-shadow: none;
}

#repeat-btn:active, #menu-btn:active{
    transform: scale(0.95);
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.3);
}

/* Game end menu */

.game-end-modal-container, .menu-modal-container{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(98, 98, 98, 0.5);
    display: flex;
    justify-content: center;
}

.game-end-modal{
    min-width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0.5vh 0.5vh 0 rgba(24, 55, 82, 0.3);
    border-radius: 8px;
    margin-top: 10vh;
}

.vertical{
    height: 20%;
}

.horisontal{
    height: 32%;
}

#game-end-text{
    text-align: center;
    font-size: 2em;
    margin: 5% 0 10% 0;
}

.game-end-btn-container{
    display: inline-block;
    text-align: center;
}

input.btn.vertical{
    margin-left: 15%;
}

input.btn.horisontal{
    margin-left: 25%;
    font-size: 2em;
    min-height:25%;
    min-width:10%
}

/* Levels menu */

.menu-modal-container{
    background: none;
    display: none;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.menu-modal{
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0.5vh 0.5vh 0 rgba(24, 55, 82, 0.3);
    border-radius: 8px;
    width: 80%;
    margin: 6% 1% 5% 0;
    height: 60vh;
}

.levels{
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin: 2%;
    border-radius: 8px;
    overflow-y: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.levels.vertical{
    height: 85%;
}

.levels.horisontal{
    height: 75%;
}

.lvl{
    /* background: linear-gradient(90deg, rgb(115, 146, 182) 0%, rgb(60, 98, 144) 35%, rgb(23, 42, 68) 100%); */
    background-color: #a3b9dd;
    color: rgb(42, 81, 129);
    display: inline-block;
    border-radius: 8px;
}

.lvl.vertical{
    font-size: 3em;
    width: fit-content;
    height: fit-content;
    margin: 5%;
    padding: 1% 5%;
}

.lvl.horisontal{
    font-size: 5em;
    width: fit-content;
    height: fit-content;
    margin: 3%;
    padding: 1% 5%;
}

.lvl.curr{
    background-color: #5072A7;
    color: rgb(6, 18, 34);
}

.lvl.passed{
    background-color: #87A96B;
    color: #3e5d26;
}

.lvl.curr-passed{
    background-color: #527337;
    color: #0f1d04;
}


#back-btn{
    font-size: 4em;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    text-align: center;
    padding: 0;
    margin: 2%;
}

#back-btn:active{
    transform: scale(0.95);
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
}

/* Color pallets */

.btn-bluegray{
    font-size: 3vmax;
    background-color: rgba(116, 127, 175, 0.6);
    border-radius: 8px;
    margin: 0.5vh;
    border-top: 0.5vh solid rgba(255, 236, 188, 0.5);
    border-left: 0.5vh solid rgba(188, 255, 211, 0.4);
    box-shadow: 0.5vh 0.5vh 0 rgba(23, 24, 68, 0.7);
}

@media screen and (width > 50vh) {
    #game-container{
        width: 50%;
    }

    .menu-modal{
        width: 80%;
        height: 50vh;
    }
}

@media screen and (width > 70vh) {
    #game-container{
        width: 40%;
    }

    .menu-modal{
        width: 50%;
        height: 60vh;
    }
}

@media screen and (width < 70vh) {
    #game-container{
        height: 98vh;
    }

    .menu-modal{
        width: 80%;
        height: 60vh;
    }
}
