.container{
    text-align: right;
    position: absolute;
}

.row{
    text-align: center;
}

.btn{
    display: inline-block;
    font-size: 1.8em;
    font-weight: bold;
    border-radius: 1vh;
    margin: 0.5vh;
}

.active{
    background-color: rgba(60, 60, 80, 0.7);
    transform: scale(0.8);
}

.canvas-container{
    text-align: center;
}

canvas{
    display: inline-block;
    border-radius: 1.5vh;
}

body{
    overflow: auto;
}

/* Color pallets */
.btn-green{
    background-color: rgba(14, 255, 251, 0.5);
    border-radius: 1vh;
    margin: 0.5vh;
    border-top: 0.5vh solid rgb(220, 255, 172);
    border-left: 0.5vh solid rgb(172, 255, 248);
    box-shadow: 0.5vh 0.5vh 0 rgb(3, 50, 91);
}

.canvas-green{
    background-color: orange;
}

.body-green{
    background: rgb(43,153,137);
    background: linear-gradient(90deg, rgba(43,153,137,1) 0%, rgba(9,99,99,1) 35%, rgba(11,51,92,1) 100%);    
}

.btn-bluegray{
    background-color: rgba(110, 113, 137, 0.5);
    border-radius: 1vh;
    margin: 0.5vh;
    border-top: 0.5vh solid rgba(172, 218, 255, 0.7);
    border-left: 0.5vh solid rgba(135, 160, 194, 0.7);
    box-shadow: 0.5vh 0.5vh 0 rgba(24, 55, 82, 0.7);
}

.canvas-bluegray{
    background-color: rgb(248, 243, 234);
}

.body-bluegray{
    background: rgb(43, 47, 153);
    background: linear-gradient(90deg, rgb(115, 146, 182) 0%, rgb(60, 98, 144) 35%, rgb(23, 42, 68) 100%);
}